parameters:
	ignoreErrors:
		-
			message: "#^Method BrokeYourBike\\\\Mobifin\\\\EncryptedClient\\:\\:decode\\(\\) should return array\\|null but returns mixed\\.$#"
			count: 1
			path: src/EncryptedClient.php

		-
			message: "#^Method BrokeYourBike\\\\Mobifin\\\\SimpleClient\\:\\:decode\\(\\) should return array\\|null but returns mixed\\.$#"
			count: 1
			path: src/SimpleClient.php

